/*my name in navbar*/
.name{
    color: aliceblue;
    font-family: 'Manrope', sans-serif;;
}
.nav-link{
    color: azure;
    margin-inline: 0.2rem;
}
.nav-pills > .active > a{
    background-color: rgb(243, 243, 243);
    color: black;
}
.nav-link:hover{
    color: white;
    background-color: dimgray;
}